@import url('https://fonts.googleapis.com/css?family=Graduate');

* {
  padding-left: 0;
}


.rostersDiv {
  margin-top: 20px;
}

.mainHeader {
  display: block;
  z-index: 999;
  position: fixed;
  top: 0;
  font-size: 30px;
  width: 100%;
  border-bottom: 2px solid gray;
  height: auto;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #ffffffe6;
  margin: 0;
}

.mainHeader,
.intro-header,
.drafted-header,
.currentPick,
.positionBtn>button,
.dropdwnMenu>button,
.labels,
.footerButton,
.teams-button button,
.labelHeader,
.redux-header,
.rosterHeader,
.starter>label,
.flex>label  {
  font-family: 'Graduate', cursive;
}

.intro-header, .drafted-header {
  font-size: 15px;
}

.currentPick, .labelHeader {
  font-size: 11px;
}
.positionBtn>button, .dropdwnMenu>button {
  font-size: 10px;
}
.positionBtn {
  position: absolute;
  z-index: 99;
  background-color: white;
  width: 200px;
}

.menu-arrow {
  float: right;
  background-color: #b7b7b77a;
}

.dropdwnMenu {
  margin: auto;
  width: 200px;
}


.fa-user {
  margin-left: 20px;
}

.App {
  width: 100%;
  margin-top: 70px;
  padding-top: 5px;
}


.sideBar-icon {
  position: fixed;
  right: 36%;
  top: 45vh;
  height: 46px;
  width: 23px;
  border-bottom-left-radius: 46px;
  border-top-left-radius: 46px;
  background: #000000ab;
  text-align: center;
  cursor: pointer;
}

.sidebarIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.arrow-icon {
  color: #b1b1b1;
}


@media screen and (max-width: 600px) {
  .draftedPlayer{
    font-size: 10px;
  }

  .dropdwnMenu {
    width: 125px;
  }

  .positionBtn {
    width: 125px;
  }
}

@media screen and (min-width: 601px) {
  .sideBar-icon {
    margin-right: -1.2vw;
  }
}
