* {
  padding-left: 0;
}


.rostersDiv {
  margin-top: 5%;
}

.mainHeader {
  display: block;
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid gray;
  height: 6vh;
  padding-top: 9px;
  background-color: #ffffffe6;
  margin: 0;
}

.RightSide {
  position: fixed;
  width: 33%;
  border-left: 1px solid #80808054;
  right: 0;
  top: 9vh;
  height: 77vh;
  z-index: 5;
  padding: 0 14px 60px;
  display: inline-block;
  background-color: white;
  list-style: none;
  overflow-y: scroll;

}

.favorites {
  line-height: 2px;
  font-size: 13px;
}

.rosterPlayers {
  font-size: 12px;
  line-height: 5px;
  margin-top: 32px;
  position: absolute;
}

.rightSide-App {
  position: fixed;
  right: 0;
  width: 33%;
}

.positionBtn {
  position: absolute;
  z-index: 99;
  background-color: white;
  width: 175px;
}

.fa-chevron-up, .fa-chevron-down {
  float: right;
  background-color: #b7b7b77a;
}

.dropdwnMenu {
  padding-left: 20px;
  width: 175px;
}

.teamDropdown {
  width: 75%;
}

.teamBtn {
  float: left;
}

.fa-user {
  margin-left: 20px;
}

.App {
  width: 100%;
  margin: auto;
  height: 90%;
  margin-top: 80px;
  padding-top: 5px;
}

@media screen and (max-width: 600px) {

  .draftedPlayer{
    font-size: 10px;
  }
}
