
.draftDetails {
  z-index: 999;
  position: relative;
  width: 500px;
  top: 100px;
  background-color: white;
  margin: 0 auto;
  height: 75%;
  padding: 10px;
}

.reduxFormDiv {
  width: 100%;
  height: 100%;
  margin: 0;
  position: fixed;
  z-index: 998;
  background-color: #000000e0;
  top: 0;
}

.options{
  font-size: 13px;
}

.positionCount {
  height: 3em;
  display: inline-block;
  border: 2px solid #34423a;
  padding: 2px;
  width: 6em;
  text-align: justify;
  cursor: pointer;
}

.draftPosition {
  display: inline-block;
}

.rosterHeader {
  text-align: center;
}

.scoringRules,
.draftType {
  float: left;
  margin-right: 20px;
}

.scoringRules label, .draftType label{
  display: block;
}

.countAndOrder {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-gap: 50px;
  padding: 0 75px;
  text-align: center;
}

.mainStarters{
  display: grid;
  grid-template-columns: 120px 120px;
  grid-template-rows: 30px 30px 30px 30px 30px;
  grid-gap: 5px 50px;
  padding: 0 75px;
}

.starter, .flex {
  padding-top: 5px;
}

.starter>.positionCount, .flex>.positionCount{
  float: right;
}

.starter>label {
  padding-top: 5px;
}


.submitButton {
  display: block;
  bottom: 5px;
  margin: 1vh auto 0;
  font-size: 1.4rem;
  padding: 10px 32px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #0f5cefc9;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .draftDetails{
    width: 350px;
  }

  .countAndOrder{
    padding: 0;
  }

  .mainStarters {
    font-size: 12px;
    padding: 0 25px;
  }
}

@media screen and (min-width: 601px) {
  .mainStarters{
    grid-template-columns: 140px 140px;
  }

  .submitButton {
    margin: 1vh auto 0;
  }
}
