.searchBar-container, .dropdownMenu-container {
  z-index: 999;
  position: absolute;
  height: 52px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 17px 10px 5px;
  background-color: white;
  box-sizing: border-box;
  left: 10px;
}

.searchBar-container:after, .dropdownMenu-container:after{
  z-index: 1;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  bottom: 100%;
  transform: rotate(45deg);
  margin-bottom: -5px;
  background-color: white;
}

.searchBar-container > input {
  width: 95%;
  border: none;
  z-index: 2;
}
.dropdownMenu-options{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0;
  text-align: center;
}

.dropdownMenu-options p {
  margin: 0 5px;
  cursor: pointer;
  color: black;
}

.dropdownMenu-options span:hover{
  border-bottom: 2px solid blue;
}

.dropdownMenu-outerDiv, .searchBar-outerDiv {
  background: #00080836;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.filter-options {
  width: inherit;
  height: 45px;
  background-color: #191a1b;
  position: fixed;
  top: 0;
  color: white;
  font-size: 12px;
  text-align: center;
}

.filter-options-innerDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 0 0 5px;
}

.filter-options-innerDiv div h4 {
  cursor: pointer;
  margin-top: 0;
}



@media screen and (max-width: 600px) {
  #searchBar-container-shortened, #dropdownMenu-container-shortened {
    width: 50vw;
  }
  #searchBar-container-extended, #dropdownMenu-container-extended {
    width: 94vw;
  }
  .filter-options-innerDiv {
    width: 140px;
  }
  .searchBar-container:after{
    left: 25px;
  }
  .dropdownMenu-container:after{
    left: 95px;
  }
}

@media screen and (min-width: 600px) {
  #searchBar-container-shortened, #dropdownMenu-container-shortened {
    width: 53vw;
  }
  #searchBar-container-extended, #dropdownMenu-container-extended {
    width: 93vw;
  }
  .filter-options-innerDiv {
    width: 280px;
  }
  .searchBar-container:after{
    left: 60px;
  }
  .dropdownMenu-container:after{
    left: 200px;
  }
}
