.dropdownMenu-container {
  background-color: #191d23;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 4px;
  margin: 0;
  height: 17px;
  text-align: center;
}

.dropdownMenu-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#filter-options-dropdown-extended .dropdownMenu-options {
  transform: translateX(0);
  width: 240px;
  color: white;
  transition: width ease-in .5s, color .4s ease-in .2s, transform ease-in .5s;
}

#filter-options-dropdown-shortened .dropdownMenu-options {
  transform: translateX(-500px);
  width: 80px;
  color: transparent;
  transition: width ease-in .6s, transform ease-in .5s;
}

.dropdownMenu-wrapper {
  padding: 0;
}

.searchBar-wrapper {
  display: flex;
  margin-left: 5px;
}

.searchBar-input {
  border: none;
  background-color: #191d23;
  color: #fff;
  box-shadow: none;
  border-radius: 4px;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-padding-start: 40px;
  padding-inline-start: 40px;
  -webkit-padding-end: 15px;
  padding-inline-end: 15px;
}

.searchBar-input-container {
  display: block;
  position: relative;
  width: 100%;
}

.searchBar-input:focus {
  outline: none;
}

.searchBar-icon {
  color: #666;
  position: absolute;
  left: 16px;
  top: 8px;
  width: 21px;
  height: 21px;
}

.dropdownMenu-container p {
  margin: 0 5px;
  cursor: pointer;
}

.filter-options {
  width: 100%;
  height: 45px;
  background-color: #2d2e2f;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  font-size: 12px;
  z-index: 999;
}

.filter-options-innerDiv {
  transform: translateY(50%);
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 10px;
  padding: 0 0 0 5px;
  width: 100%;
}

#filter-options-searchBar-shortened input {
  transition: width .6s;
  transition-delay: .1s;
  width: 80px;
}
#filter-options-searchBar-extended input {
  transition: width .6s;
  transition-delay: .1s;
  width: 170px;
}

.filter-options-innerDiv div h4 {
  font-size: 15px;
  cursor: pointer;
  margin-top: 0;
}

.searchBar-clear-icon {
  color: #666;
  right: 13px;
  top: 6px;
  padding: 0;
  position: absolute;
  height: 100%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #searchBar-container-shortened, #dropdownMenu-container-shortened {

  }
  #searchBar-container-extended, #dropdownMenu-container-extended {

  }
  .filter-options-innerDiv {

  }
  .searchBar-input {
    padding-top: 0;
  }
  .dropdownMenu-container {
    padding-top: 4px;
  }
}

@media screen and (min-width: 600px) {
  #dropdownMenu-container-shortened {

  }
  #dropdownMenu-container-extended {

  }
  .filter-options-innerDiv {

  }
}
