.footer {
  position: fixed;
  display: inline;
  height: 50px;
  width: 100%;
  bottom: 0;
  background-color: #000000ab;
  text-align: center;
  z-index: 99;
}

.footerButton {
  width: 49%;
  display: inline-block;
  margin: 0;
  padding-top: 10px;
  cursor: pointer;
}

.footer label {
  font-size: 10px;
  color: #bbb4b4;
}

.footer .fas {
  font-size: 22px;
}

.footerBtn {
  color: #bbb4b4;
}

.footerButton:hover i, .footerButton:hover label, .checkedFooter i, .checkedFooter label{
  color: #889dff !important;
  cursor: pointer;
}

.footerButton:hover {
  background-color: #3c3a3aab;
}
