
.draftBtn {
  display: inline-block;
  background-color: green;
  color: white;
  border-radius: 10px;
  height: 25px;
  width: 50px;
  font-size: 14px;
  padding: 2px;
}

.playerName {
  display: inline-block;
  margin-right: 40px;
}

.playerSelector {
  font-size: 14px;
  padding: 5px 20px 5px 40px;
  height: 30px;
  border: 1px dashed green;
  border-radius: 15px;
}

.fa-file-alt {
  cursor: pointer;
}

.players {
  width: 60%;
}

.playersDiv {
  padding: 20px 10px;
  
}

.faveStar {
  color: #646557;
  right: 300px;
  float: right;
  margin-right: 10px;
}

.faveStar:hover {
  color: #bfbf2f !important;
}
