.draftBtn {
  display: inline-block;
  background-color: green;
  color: white;
  border-radius: 10px;
  height: 25px;
  width: 50px;
  font-size: 14px;
  padding: 2px;
}

.playerName {
  font-size: 13px;
  display: grid;
  padding-right: 10px;
  color: #cecece;
  grid-column-gap: 1px;
}

.labels {
  display: grid;
  position: fixed;
  top: 65px;
  left: 0;
  grid-column-gap: 2px;
  padding: 0 15px 10px 20px;
  font-size: 10px;
  font-weight: bold;
  margin: -20px 0 10px 0;
  box-sizing: border-box;
  background-color: #2d2e2f;
}

.players {
  box-sizing: border-box;
  padding: 0 10px 60px;
  height: 80vh;
}

.playersDiv {
  height: inherit;
}

#labels-shortened {
  grid-template-columns: 30px 30px 4.5fr 1fr;
}

#labels-extended {
  grid-template-columns: 30px 30px 4fr 1fr 1fr;
}

.player-name {
  margin-left: 10px;
}

.playerSelector:hover{
  cursor: pointer;
  background-color: gray;
}

.fa-file-alt {
  cursor: pointer;
}

.labels p {
  margin: 0;
  color: white;
}

@media screen and (max-width: 600px){
  .playerName {
    font-size: 10px;
  }

  .labels {
    font-size: 8px;
  }
}


@media screen and (min-width: 601px){
}
