
.draftBtn {
  display: inline-block;
  background-color: green;
  color: white;
  border-radius: 10px;
  height: 25px;
  width: 50px;
  font-size: 14px;
  padding: 2px;
}

.playerName {
  font-size: 13px;
}

.playerSelector:hover{
  cursor: pointer;
  background-color: gray;
}

.fa-file-alt {
  cursor: pointer;
}

.players {
  width: 60%;
}

.playersDiv {
  padding: 0 10px 60px;

}

.faveStar {
  color: #646557;
  right: 300px;
  float: right;
  margin-right: 10px;
}

.faveStar:hover {
  color: #bfbf2f !important;
}

.labels {
  display: inline;
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
}

.labels p {
  padding: 0 20px;
  margin: 8px auto -20px;
}

@media screen and (max-width: 600px){
  .playerName {
    font-size: 10px;
  }
}


@media screen and (min-width: 601px){
  .labels p {
    margin: 0 5px;
  }
}
