.rightSide-wrapper {
  position: fixed;
  width: 42vw;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 0;
  padding: 20px 0px 60px 0;
  display: block;
  list-style: none;
  overflow-y: overlay;
  perspective: 600px;
  box-sizing: border-box;
}

.rightSide-header {
  color: white;
  text-align: center;
  position: absolute;
  top: 10px;
  width: 100%;
  right: 0;
  background-color: #191a1b;
}

.rightSide-header h3 {
  margin: 0 auto;
}
.sc-bxivhb {
  font-size: 8px;
}

.reserves {
  font-size: 11px;
  margin-right: 5px;
}

.rosterPlayers {
  font-size: 12px;
  line-height: 5px;
  margin-top: 32px;
  position: absolute;
}

.rostersDiv {
  padding: 20px 10px;
  border: 1px solid #000000ab;
  height: 95%;
  background-color: yellow;
  width: 95%;
  margin: 20px 10px 0 0;
  overflow: hidden;
  box-sizing: border-box;
}

.teamDropdown {
  width: 75%;
}

.teamBtn {
  float: left;
}

.draftedPlayersList {
  padding: 5px 0 0 10px;
}

.draftedPlayers-container {
  margin-top: 30px;
}

.drafted {
  font-size: 10px;
  line-height: 12px;
  border-radius: 4px;
  background-color: #e2dddd;
  padding: 1px;
  margin-bottom: 2px;
  padding-left: 10px;
  cursor: pointer;
}

#myTeam-player {
  background-color: yellow;
}
.player-lastName {
  text-transform: uppercase;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .draftedPlayer {
    line-height: 12px;
  }

  .rostered-players {
    font-size: 10px;
  }
}
