.rightSide-wrapper {
  position: fixed;
  width: 42vw;
  height: 100%;
  right: 0;
  top: 35px;
  padding: 75px 10px 60px 10px;
  display: block;
  list-style: none;
  overflow-y: overlay;
  box-sizing: border-box;
}

.rightSide-header {
  opacity: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  background-color: #2d2e2f;
  text-align: center;
  position: fixed;
  top: 45px;
  right: 0;
  z-index: 999;
  width: 43vw;
  font-size: 12px;
  padding: 5px 0;
}

.sc-bxivhb {
  font-size: 8px;
}

.reserves {
  font-size: 11px;
  margin-right: 5px;
}

.rosterPlayers {
  font-size: 12px;
  line-height: 5px;
  margin-top: 32px;
  position: absolute;
}

.rostersDiv {
  position: absolute;
  padding: 20px 10px;
  border: 1px solid #000000ab;
  background-color: white;
  width: 95%;
  margin: 0 10px 0 0;
  overflow: hidden;
  box-sizing: border-box;
}

.teamDropdown {
  width: 75%;
}

.teamBtn {
  float: left;
}

.draftedPlayersList {
  padding-bottom: 60px;
}

.drafted {
  font-size: 10px;
  line-height: 12px;
  border-radius: 4px;
  background-color: #e2dddd;
  padding: 1px;
  margin-bottom: 2px;
  padding-left: 10px;
  cursor: pointer;
}

#myTeam-player {
  background-color: yellow;
}
.player-lastName {
  text-transform: uppercase;
  font-size: 14px;
}

#fadeToFrontStyle {
  opacity: 1;
}

#fadeToBackStyle {
  opacity: 0;
  display: none;
}

.rightSide-innerDiv {
  height: 85%;
  top: 10px;
  width: 95%;
}

.rightSide-button {
  min-width: 70px;
  border: none;
  border-radius: 4px;
  padding: 0 10px 10px 8px;
  color: white;
  background-color: #191d22;
  display: flex;
  cursor: pointer;
}

.rightSide-button-label {
  font-size: 11px;
  padding-top: 8px;
  margin-left: 3px;
  text-align: justify;
}
.rightSide-button-icon {
  font-size: 20px;
  transform: translateY(50%);
  position: static;
}
.rosters-button {
  margin-left: 20px;
}

.draftedPlayers-button {
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .draftedPlayer {
    line-height: 12px;
  }
  .rostered-players {
    font-size: 10px;
  }
  .rightSide-button-label {
    font-size: 8px;
  }
  .rightSide-button-icon {
    font-size: 14px;
  }
}
